<html ng-app="surveyApp" class="no-js ng-scope" lang="en" xmlns:ng="http://angularjs.org"
  xmlns="http://www.w3.org/1999/xhtml">
<link type="text/css" id="dark-mode" rel="stylesheet" href="">
<style type="text/css" id="dark-mode-custom-style"></style>
<!--<![endif]-->

<head>
  <style type="text/css">
    @charset "UTF-8";

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide {
      display: none !important;
    }

    ng\:form {
      display: block;
    }

    .ng-animate-block-transitions {
      transition: 0s all !important;
      -webkit-transition: 0s all !important;
    }

    .ng-hide-add-active,
    .ng-hide-remove {
      display: block !important;
    }
  </style>

  <link id="favicon" rel="icon" type="image/png" href="../image/favicon.png">

  <title>Ankieta McDonald's</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta name="robots" content="noindex,nofollow">

  <link href="https://www.inmoment.com/websurvey/css/third-party.min.css" rel="stylesheet" type="text/css">

  <link id="dynamic_css" rel="stylesheet" type="text/css" href="https://www.inmoment.com/websurvey/2/retrieveCss.css?themeId=7128&amp;s;=inmoment_395_7128_15">
</head>

<body class="i_17 page_-287800 page_identifier_printCouponPage rand_7 lcl_pl">
  <div id="customHeader" ng-bind-html="customHtml.header|unsafe" class="ng-binding">
    <div class="logoContainer">
      <div class="promptArea">
        <img
          src="https://www.inmoment.com/websurvey/servlet/BlobServlet?sid=24710042-3de0-4f7d-af1e-ec69e5424544&amp;v=0&amp;type=0&amp;tag=McDPolandLogo">
      </div>
    </div>
  </div>

  <div class="bodyContainer">
    <form ng-show="renderPrompts()" name="promptForm" novalidate="" id="promptForm" ng-keydown="handleEnter($event)"
      class="ng-pristine ng-valid">

      <!-- ngIf: currentPage() != null && currentPage().transferOffsite -->



      <!-- Prompt Content -->
      <!-- ngInclude: '/websurvey/2/views/content.html' -->
      <div ng-include=" '/websurvey/2/views/content.html' " class="ng-scope">
        <div ms-main-image="logo.url" class="ng-scope ng-isolate-scope">
          <!-- ngIf: mainImage -->
          <!-- ngIf: !mainImage -->
          <div ng-if="!mainImage" class="noLogoPadding ng-scope"></div><!-- end ngIf: !mainImage -->
        </div>
        <div id="promptArea" class="promptArea ng-scope">
          <!-- ngRepeat: prompt in currentPage().prompts -->
          <div ng-repeat="prompt in currentPage().prompts" class="promptContainer prompt_identifier_couponDateCode"
            id="prompt_377300">
            <!-- Render directive tag for each prompt -->
            <div ng-switch="" on="prompt.type">
              <!-- ngSwitchWhen: MULTIPLE_CHOICE -->
              <!-- ngSwitchWhen: BOOLEAN -->
              <!-- ngSwitchWhen: BOOLEAN_GROUP -->
              <!-- ngSwitchWhen: DATE -->
              <!-- ngSwitchWhen: TIME -->
              <!-- ngSwitchWhen: EMPLOYEE_SELECTOR -->
              <!-- ngSwitchWhen: RATING -->
              <!-- ngSwitchWhen: RATING_GROUP -->
              <!-- ngSwitchWhen: MULTIPLE_CHOICE_GROUP -->
              <!-- ngSwitchWhen: COMMENT -->
              <!-- ngSwitchWhen: VIDEO_RESPONSE -->
              <!-- ngSwitchWhen: COMPOSITE_TEXT -->
              <!-- ngSwitchWhen: SCRAMBLED_TEXT -->
              <!-- ngSwitchWhen: TEXT -->
              <!-- ngSwitchWhen: NUMERIC -->
              <!-- ngSwitchWhen: OFFER_CODE_SEARCH -->
              <!-- ngSwitchWhen: LOCATION_PICKER -->
              <!-- ngSwitchWhen: SOCIAL_CONNECT -->
              <!-- ngSwitchWhen: GO_RECOMMEND_CONNECT -->
              <!-- ngSwitchWhen: GO_RECOMMEND_SHARE_INCENTIVE -->
              <!-- ngSwitchWhen: GO_RECOMMEND_SHARE_OPEN_TELL -->
              <!-- ngSwitchWhen: SWEEPSTAKES_INSTANT_WIN -->
              <!-- ngSwitchWhen: CAPTCHA -->
              <!-- ngSwitchWhen: GENERIC -->
              <div ng-switch-when="GENERIC" class="ng-scope">
                <div ms-generic="currentPage().directiveData[prompt.id]" class="ng-isolate-scope">
                  <div class="prompt clearfix genericPrompt ng-pristine ng-valid" id="prompt_377300"
                    ng-form="promptInput"
                    ng-class="{'triggered':dd.prompt.isTriggered, 'noWebText':!dd.prompt.text,'concurrentTriggered':dd.prompt.concurrentTriggered}"
                    ng-hide="dd.prompt.hideTrigger">
                    <div ms-prompt-header="dd.prompt" class="ng-isolate-scope">
                      <!-- Question Text -->
                      <!-- ngIf: promptObject.text -->
                      <div ng-if="promptObject.text"
                        ng-class="{'promptText__child':childPromptHeader==true, 'promptText__header':childPromptHeader!=true}"
                        id="promptText_377300" class="ng-scope promptText__header">
                        <div class="content ">
                          <span ms-prompt-header-text="promptObject" class="ng-isolate-scope"><span class="text"><span
                                ng-bind-html="promptObject.text | unsafe" class="ng-binding">
                                <div class="couponDateCode_container">
                                  <div class="couponDateCode_column date">
                                    <strong>DATA WYDANIA:</strong> 08/07/2019
                                  </div>
                                  <div class="couponDateCode_column code">
                                    <strong>UNIKALNY KOD:</strong> j-19-le-3
                                  </div>
                                </div>
                              </span>
                              <span ng-show="promptObject.required &amp;&amp; promptObject.showRequiredMarker"
                                class="reqMarker ng-hide">*</span>
                            </span>
                          </span>
                        </div>
                      </div><!-- end ngIf: promptObject.text -->
                    </div>
                    <div ng-show="dd.prompt.outputValueText != null" class="outputValueText ng-binding">
                      j-19-le-3
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ngIf: currentPage().directiveData[prompt.id].prompt.isTriggered -->

            <!-- ngIf: $first -->
            <div ng-if="$first" ms-triggered-prompts="" class="ng-scope"></div><!-- end ngIf: $first -->

          </div><!-- end ngRepeat: prompt in currentPage().prompts -->
          <div ng-repeat="prompt in currentPage().prompts" class="promptContainer prompt_identifier_chosenCoupon"
            id="prompt_372210">
            <!-- Render directive tag for each prompt -->
            <div ng-switch="" on="prompt.type">
              <!-- ngSwitchWhen: MULTIPLE_CHOICE -->
              <!-- ngSwitchWhen: BOOLEAN -->
              <!-- ngSwitchWhen: BOOLEAN_GROUP -->
              <!-- ngSwitchWhen: DATE -->
              <!-- ngSwitchWhen: TIME -->
              <!-- ngSwitchWhen: EMPLOYEE_SELECTOR -->
              <!-- ngSwitchWhen: RATING -->
              <!-- ngSwitchWhen: RATING_GROUP -->
              <!-- ngSwitchWhen: MULTIPLE_CHOICE_GROUP -->
              <!-- ngSwitchWhen: COMMENT -->
              <!-- ngSwitchWhen: VIDEO_RESPONSE -->
              <!-- ngSwitchWhen: COMPOSITE_TEXT -->
              <!-- ngSwitchWhen: SCRAMBLED_TEXT -->
              <!-- ngSwitchWhen: TEXT -->
              <!-- ngSwitchWhen: NUMERIC -->
              <!-- ngSwitchWhen: OFFER_CODE_SEARCH -->
              <!-- ngSwitchWhen: LOCATION_PICKER -->
              <!-- ngSwitchWhen: SOCIAL_CONNECT -->
              <!-- ngSwitchWhen: GO_RECOMMEND_CONNECT -->
              <!-- ngSwitchWhen: GO_RECOMMEND_SHARE_INCENTIVE -->
              <!-- ngSwitchWhen: GO_RECOMMEND_SHARE_OPEN_TELL -->
              <!-- ngSwitchWhen: SWEEPSTAKES_INSTANT_WIN -->
              <!-- ngSwitchWhen: CAPTCHA -->
              <!-- ngSwitchWhen: GENERIC -->
              <div ng-switch-when="GENERIC" class="ng-scope">
                <div ms-generic="currentPage().directiveData[prompt.id]" class="ng-isolate-scope">
                  <div class="prompt clearfix genericPrompt ng-pristine ng-valid" id="prompt_372210"
                    ng-form="promptInput"
                    ng-class="{'triggered':dd.prompt.isTriggered, 'noWebText':!dd.prompt.text,'concurrentTriggered':dd.prompt.concurrentTriggered}"
                    ng-hide="dd.prompt.hideTrigger">
                    <div ms-prompt-header="dd.prompt" class="ng-isolate-scope">
                      <!-- Question Text -->
                      <!-- ngIf: promptObject.text -->
                      <div ng-if="promptObject.text"
                        ng-class="{'promptText__child':childPromptHeader==true, 'promptText__header':childPromptHeader!=true}"
                        id="promptText_372210" class="ng-scope promptText__header">
                        <div class="content ">
                          <span ms-prompt-header-text="promptObject" class="ng-isolate-scope"><span class="text"><span
                                ng-bind-html="promptObject.text | unsafe" class="ng-binding">
                                <style>
                                  @media print {
                                    body {
                                      background: none;
                                    }

                                    #customHeader,
                                    #nav,
                                    #footer,
                                    .prompt_identifier_printButton,
                                    .prompt_identifier_couponEmailButton {
                                      display: none;
                                    }

                                    #promptArea {
                                      padding: 0;
                                    }
                                  }
                                </style>

                                <img
                                  src="https://www.inmoment.com/websurvey/servlet/BlobServlet?sid=45720160-0529-43fa-9380-f67c3f09ea72&v=0&type=0&tag=couponIceCream"
                                  style="width: 100%; max-width: 580px;">
                              </span>
                              <span ng-show="promptObject.required &amp;&amp; promptObject.showRequiredMarker"
                                class="reqMarker ng-hide">*</span>
                            </span>
                          </span>
                        </div>
                      </div><!-- end ngIf: promptObject.text -->
                    </div>
                    <div ng-show="dd.prompt.outputValueText != null" class="outputValueText ng-binding ng-hide">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ngIf: currentPage().directiveData[prompt.id].prompt.isTriggered -->

            <!-- ngIf: $first -->

          </div><!-- end ngRepeat: prompt in currentPage().prompts -->
          <div ng-repeat="prompt in currentPage().prompts" class="promptContainer prompt_identifier_null"
            id="prompt_373514">
            <!-- Render directive tag for each prompt -->
            <div ng-switch="" on="prompt.type">
              <!-- ngSwitchWhen: MULTIPLE_CHOICE -->
              <!-- ngSwitchWhen: BOOLEAN -->
              <!-- ngSwitchWhen: BOOLEAN_GROUP -->
              <!-- ngSwitchWhen: DATE -->
              <!-- ngSwitchWhen: TIME -->
              <!-- ngSwitchWhen: EMPLOYEE_SELECTOR -->
              <!-- ngSwitchWhen: RATING -->
              <!-- ngSwitchWhen: RATING_GROUP -->
              <!-- ngSwitchWhen: MULTIPLE_CHOICE_GROUP -->
              <!-- ngSwitchWhen: COMMENT -->
              <!-- ngSwitchWhen: VIDEO_RESPONSE -->
              <!-- ngSwitchWhen: COMPOSITE_TEXT -->
              <!-- ngSwitchWhen: SCRAMBLED_TEXT -->
              <!-- ngSwitchWhen: TEXT -->
              <!-- ngSwitchWhen: NUMERIC -->
              <!-- ngSwitchWhen: OFFER_CODE_SEARCH -->
              <!-- ngSwitchWhen: LOCATION_PICKER -->
              <!-- ngSwitchWhen: SOCIAL_CONNECT -->
              <!-- ngSwitchWhen: GO_RECOMMEND_CONNECT -->
              <!-- ngSwitchWhen: GO_RECOMMEND_SHARE_INCENTIVE -->
              <!-- ngSwitchWhen: GO_RECOMMEND_SHARE_OPEN_TELL -->
              <!-- ngSwitchWhen: SWEEPSTAKES_INSTANT_WIN -->
              <!-- ngSwitchWhen: CAPTCHA -->
              <!-- ngSwitchWhen: GENERIC -->
              <div ng-switch-when="GENERIC" class="ng-scope">
                <div ms-generic="currentPage().directiveData[prompt.id]" class="ng-isolate-scope">
                  <div class="prompt clearfix genericPrompt ng-pristine ng-valid" id="prompt_373514"
                    ng-form="promptInput"
                    ng-class="{'triggered':dd.prompt.isTriggered, 'noWebText':!dd.prompt.text,'concurrentTriggered':dd.prompt.concurrentTriggered}"
                    ng-hide="dd.prompt.hideTrigger">
                    <div ms-prompt-header="dd.prompt" class="ng-isolate-scope">
                      <div ng-if="promptObject.text"
                        ng-class="{'promptText__child':childPromptHeader==true, 'promptText__header':childPromptHeader!=true}"
                        id="promptText_373514" class="ng-scope promptText__header">
                        <div class="content ">
                          <span ms-prompt-header-text="promptObject" class="ng-isolate-scope"><span class="text"><span
                                ng-bind-html="promptObject.text | unsafe" class="ng-binding">
                                <div style="font-size: 0.7em; font-weight: normal; line-height: 1.23em;">Kupon ten
                                  upoważnia do jednokrotnego odbioru produktu gratis przy kolejnym dowolnym zakupie z
                                  oferty klasycznej. Kupon ważny jest przez 7 dni od czasu jego wygenerowania i może być
                                  zrealizowany w dowolnej restauracji McDonald’s w Polsce z wyłączeniem restauracji
                                  znajdujących się na terenie Portu Lotniczego im. Fryderyka Chopina w Warszawie oraz
                                  Portu Lotniczego im. Lecha Wałęsy w Gdańsku. Szczegółowy regulamin ankiety „Opinia
                                  Gości” znajduje się na stronie<a href="http://www.mcdonalds.pl">www.mcdonalds.pl</a> w
                                  sekcji <a href="https://mcdonalds.pl/o-mcdonalds/regulaminy">Regulaminy</a></div>
                              </span>
                              <span ng-show="promptObject.required &amp;&amp; promptObject.showRequiredMarker"
                                class="reqMarker ng-hide">*</span>
                            </span>
                          </span>
                        </div>
                      </div><!-- end ngIf: promptObject.text -->
                    </div>
                    <div ng-show="dd.prompt.outputValueText != null" class="outputValueText ng-binding ng-hide">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ngIf: currentPage().directiveData[prompt.id].prompt.isTriggered -->

            <!-- ngIf: $first -->

          </div><!-- end ngRepeat: prompt in currentPage().prompts -->
          <div ng-repeat="prompt in currentPage().prompts" class="promptContainer prompt_identifier_couponSendOptions"
            id="prompt_373701">
            <!-- Render directive tag for each prompt -->
            <div ng-switch="" on="prompt.type">
              <!-- ngSwitchWhen: MULTIPLE_CHOICE -->
              <div ng-switch-when="MULTIPLE_CHOICE" class="ng-scope">
                <div ms-categorical="currentPage().directiveData[prompt.id]" class="ng-isolate-scope">
                  <div class="prompt YesNo noWebText" ng-form="promptForm" ng-hide="dd.prompt.hideTrigger"
                    id="prompt_373701"
                    ng-class="{'triggered':dd.prompt.isTriggered, 'noWebText':!dd.prompt.text,'concurrentTriggered':dd.prompt.concurrentTriggered}">
                    <div class="promptHeader ng-isolate-scope" ms-prompt-header="dd.prompt"
                      ms-add-class="childPrompt==true ? 'no-arrow': 'arrow-down'"
                      ms-child-prompt-header="childPrompt==true">
                      <!-- Question Text -->
                      <!-- ngIf: promptObject.text -->
                    </div>
                    <div ng-switch="dd.prompt.renderType" class="promptInput multipleChoiceInput">
                      <!-- Pulldown / Select list -->
                      <!-- ngSwitchWhen: Pulldown -->

                      <!-- ngSwitchWhen: Vertical -->

                      <!-- ngSwitchWhen: Yes / No -->
                      <div ng-switch-when="Yes / No" class="yesNo ng-scope">
                        <div id="promptInput_373701" class="promptInput categorical" tabindex="1"
                          ng-keydown="keypressYN($event.keyCode)">
                          <input id="option_no_373701" ng-model="dd.answer.value" ng-required="dd.prompt.required"
                            value="919220" type="radio" name="promptField" ms-handle-error="" tabindex="0"
                            class="ng-pristine ng-valid ng-valid-required">
                          <label class="n yesNoEl ng-binding chkd" for="option_no_373701"
                            ng-class="{'field-prompt-error':errorManager.isFormInErrorState(promptForm), chkd:dd.prompt.choices[1].choiceId==dd.answer.value}"
                            ng-click="yesNoClick(1);" ng-bind-html="dd.prompt.choices[1].label | unsafe"><button
                              onclick="myFunction()">Drukuj /<br>Zapisz jako PDF</button>
                            <script>
                              function myFunction() {
                                window.print();
                              }
                            </script>
                          </label>
                          <input id="option_yes_373701" ng-model="dd.answer.value" ng-required="dd.prompt.required"
                            value="828385" type="radio" name="promptField" tabindex="0"
                            class="ng-pristine ng-valid ng-valid-required">
                          <label class="y yesNoEl ng-binding" for="option_yes_373701"
                            ng-class="{'field-prompt-error':errorManager.isFormInErrorState(promptForm), chkd:dd.prompt.choices[0].choiceId==dd.answer.value}"
                            ng-click="yesNoClick(0);" ng-bind-html="dd.prompt.choices[0].label | unsafe">Prześlij kupon
                            <div class="button_smallText">(wysyłka w ciągu 24 godzin)</div></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="nav" ng-class="{lastPageNav:surveyOver}">
        <div id="backImg"></div>
        <div id="nextImg"></div>
        <button id="prevPageLink" type="button" ng-mousedown="prevPageButtonClick($event)"
          ng-class="{navButton:!useNavImage('back'),backNavImage:useNavImage('back'),disabledNav:0>=currentPageIndex}"
          ng-disabled="0>=currentPageIndex" ng-hide="hideNavButtons() || hideBackButton()" ng-style="getNavSize('back')"
          tabindex="6" class="ng-binding navButton">
          <span class="arrow backArrow"></span>Cofnij
        </button>
        <button id="nextPageLink" type="button" ng-mousedown="nextPageButtonClick($event)"
          ng-class="{navButton:!useNavImage('next'),nextNavImage:useNavImage('next'),invalidPage:pageHasErrors(promptForm,nextClickAttempts, isOnlyOfferCodeError)}"
          ng-hide="hideNavButtons()" ng-style="getNavSize('next')" tabindex="5" class="ng-binding navButton">
          Dalej<span class="arrow nextArrow"></span>
        </button>
        <div class="progress ng-isolate-scope" id="progressBar" progressbar="" value="percentComplete">
          <div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar"
            aria-valuenow="99.35823427392612" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}"
            title="99%" ng-transclude="" style="width: 99.36%;"></div>
        </div>
        <div id="clear"></div>
      </div>
      <div id="footerBar" class="separatorBar"></div>

      <div id="customFooter" ng-bind-html="customHtml.footer|unsafe" class="ng-binding">
        <style>
          .page_identifier_incentiveEmailAddress #prevPageLink {
            display: block !important;
            font-size: 0;
          }

          .page_identifier_incentiveEmailAddress #prevPageLink:before,
          .lcl_en.page_identifier_incentiveEmailAddress #prevPageLink:before {
            content: "DISCARD";
            font-size: 22px;
            line-height: 1.2em;
          }

          .lcl_pl.page_identifier_incentiveEmailAddress #prevPageLink:before {
            content: "REZYGNUJĘ";
          }

          .lcl_de.page_identifier_incentiveEmailAddress #prevPageLink:before {
            content: "VERZICHTE";
          }

          .page_identifier_incentiveEmailAddress #nextPageLink {
            font-size: 0;
          }

          .page_identifier_incentiveEmailAddress #nextPageLink:before,
          .lcl_en.page_identifier_incentiveEmailAddress #nextPageLink:before {
            content: "SEND";
            font-size: 22px;
            line-height: 1.2em;
          }

          .lcl_pl.page_identifier_incentiveEmailAddress #nextPageLink:before {
            content: "PRZEŚLIJ";
          }

          .lcl_de.page_identifier_incentiveEmailAddress #nextPageLink:before {
            content: "SENDE";
          }
        </style>
      </div>
    </form>
  </div>
</body>

</html>
